<!DOCTYPE html>
{% import "macros.html" as macros with context %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="static/favicon.svg" type="image/x-icon"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
  <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark" style="background-color:#cf5e13">
  <a class="navbar-brand" href="{{ url_for('index') }}">{{ macros.logo_icon(size='25', color='white') }}</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-contents">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav-contents">
    <ul class="navbar-nav">
      <li class="navbar-item"><a class="nav-link" href="{{ url_for('quotes') }}">Quotes</a></li>
      <li class="navbar-item"><a class="nav-link" href="{{ url_for('news') }}">News</a></li>
      <li class="navbar-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
      {% if current_user.is_authenticated %}
      <li class="navbar-item"><a class="nav-link" href="{{ url_for('admin') }}">Admin</a></li>
      {% endif %}
    </ul>
    <div class="ml-auto">
      {% if current_user.is_authenticated %}
      {% call macros.link(href=url_for('logout')) %}{{ macros.admin_icon(size=25) }}{% endcall %}
      {% else %}
      {% call macros.link(modal_id='login') %}{{ macros.admin_icon(size=25) }}{% endcall %}
      {% endif %}
    </div>
  </div>
  {% call macros.modal('login', title='Admin') %}{{ macros.login_form() }}{% endcall %}
</nav>
<div class="container mb-5">
  {% block body %}
  {% endblock %}
</div>
<a class="nav-link" href="http://www.reddit.com/r/GoodBlackNews/new/" target="_blank">{{ macros.reddit_icon(size=25) }}</a>
</body>
</html>